*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/vector.png);
    height: 100%;
    width: 100%;
background-size: cover;
 }


