*{
  padding: 0;
  margin: 0;
  

}

/* body{
  background-image: linear-gradient(rgba(225,225,225,0.5),rgba(225,225,225,0.5)),url(images/carousal1.jpg);
  background-size: cover;
} */

/* .carousel-inner img{width: 100%;
height: 100%;} */